.postsContainer {
   .posts > div {
      height: 100%;
      margin-bottom: 1.5rem;
      cursor: pointer;

      .cardFooter {
         border: none;
         background: transparent;
      }

      img {
         display: block;
         width: 100%;
         height: 15rem;
      }

      .overlay {
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 15rem;
         width: 100%;
         opacity: 0;
         transition: 0.5s ease;
         background-color: #000000;

         .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
         }
      }

      &:hover .overlay {
         opacity: 0.5;
      }
   }
}
